<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3><%= title%> 완료</h3>
    <div>
      안녕하세요,
      <span><%= register.name%></span> 님
    </div>

    <div>
      성별은
      <span><%= register.gender%></span>
    </div>

    <div>
      나이는
      <span><%= 2023-register.birthYear%></span> 살이시군요
    </div>

    <div>
      관심사는
      <span><%= register.favor%></span> 이네요!
    </div>

    환영합니다!
  </body>
</html>
